# Generic Kernel Image (GKI 2.0 - Kernel 5.10 / 5.15) Example Configuration
DEVICE_NAME="generic_gki"
DEVICE_MODEL="Android GKI Device"

KERNEL_SOURCE="https://android.googlesource.com/kernel/common"
KERNEL_BRANCH="android12-5.10"
KERNEL_DEFCONFIG="gki_defconfig"

ARCH="arm64"
SUBARCH="arm64"

# GKI kernels require AOSP Clang
TOOLCHAIN_TYPE="aosp-clang"
AOSP_CLANG_VERSION="r450784d"
LLVM="1"

ENABLE_RESUKISU=true
RESUKISU_REPO="https://github.com/ReSukiSU/ReSukiSU.git"
RESUKISU_BRANCH="main"

ENABLE_SUSFS=true
SUSFS_REPO="https://gitlab.com/simonpunk/susfs4ksu.git"
SUSFS_BRANCH="gki-android12-5.10"

ENABLE_ANYKERNEL3=true
ANYKERNEL3_REPO="https://github.com/osm0sis/AnyKernel3.git"
ANYKERNEL3_BRANCH="master"

KERNEL_IMAGE_NAME="Image"
BUILD_DTBO=false
EXTRA_MAKE_FLAGS=""
